@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: leagueSpartan;
    src: url(../fonts/League_Spartan/static/LeagueSpartan-Regular.ttf);
}

@layer base {
    html {
        font-family: leagueSpartan;
    }
}

@layer components {
    .btn {
        @apply w-14 h-14 p-3 rounded text-4xl border-b-4;
    }

    .btn_primary {
        @apply bg-lightGrayishOrange border-b-grayishOrange text-veryDarkGrayishBlue;
    }

    .btn_delete {
        @apply bg-desaturatedDarkBlueBg border-b-desaturatedDarkBlueShadow text-white text-2xl;
    }

    .btn_reset {
        @apply text-xl bg-desaturatedDarkBlueBg border-b-desaturatedDarkBlueShadow text-white text-center w-32;
    }

    .btn_remove {
        @apply bg-red text-white border-b-darkRed w-32;
    }
}

/*npx tailwindcss -i assets/style/style.css -o assets/style/output.css --watch*/
