@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: leagueSpartan;
    src: url(../fonts/League_Spartan/static/LeagueSpartan-Regular.ttf);
}

@layer base {
    html {
        font-family: leagueSpartan;
    }
}

@layer components {
    .btn {
        @apply h-14 w-14 rounded border-b-4 p-3 text-4xl;
    }

    .btn_primary {
        @apply bg-ternary border-b-ternary-dark text-quaternary;
    }

    .btn_delete {
        @apply bg-primary-light border-b-primary-lighter text-quaternary-light text-2xl;
    }

    .btn_reset {
        @apply bg-primary-light border-b-primary-lighter text-quaternary-light w-32 text-center text-xl;
    }

    .btn_remove {
        @apply bg-secondary text-quaternary-light border-b-secondary-dark w-32;
    }

    .toggle-input[value="theme-1"]:checked ~ .toggle-span {
        @apply bg-secondary left-[7px];
    }

    .toggle-input[value="theme-2"]:checked ~ .toggle-span {
        @apply bg-secondary left-[36px];
    }

    .toggle-input[value="theme-3"]:checked ~ .toggle-span {
        @apply bg-secondary left-[65px];
    }
}

/*npx tailwindcss -i assets/style/style.css -o assets/style/output.css --watch*/
